- if flash.any?
  .container-fluid
    - flash.each do |msg_type, msg|
      .row
        .col-sm-6.col-sm-offset-3
          %div.alert.fade.in.alert-dismissable{class: "#{bootstrap_class_for(msg_type)}"}
            %button.close{type: 'button', data: { dismiss: 'alert' }}
              %span{aria: { hidden: 'true' }}
                &times;
            %p= msg