- unless collection.empty?
  %h4= header
  %ul.media-list.credits-list
    - collection.map do |participation|
      %li.media
        %a.pull-left{href: '#'}
          %img.media-object.img-rounded{src: 'http://placehold.io/40/40.png', width: 40, heigth: 40}
        .media-body
          %h5
            %span
              %a{href: '#', title: 'Add to Favorites'}
                = fa_icon 'star-o'
            %a{href: '#'}= participation.person.name
          %small.text-muted
            %em= participation.credit
