# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 284c84f7c20bf7df8320873aaa0d686342e5ce58b03263b69ab69cb778e8a578c5e6214e56bdc57034d18fe00e21bedd672b39b15a12276d0d91dc9128ba88c3

test:
  secret_key_base: 929da1a9bcedce2b347c7d3e364820c19c097ef699dd1c7ba9f4d334ad60d3c8b299ad090e427c00eea487e5f49a4aff33397f22a27ade65a3c9f71149e977fc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
