@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600");

// Colors
$brand-primary: #3498db;
$brand-success: #27ae60;
$brand-info:    #3498db;
$brand-warning: #f1c40f;
$brand-danger:  #e74c3c;

$gray-darkest:  #1C1E28;
$gray-darker:   lighten($gray-darkest, 10%);
$gray-dark:     lighten($gray-darkest, 21%);
$gray:          lighten($gray-darkest, 32%);
$gray-light:    lighten($gray-darkest, 44%);
$gray-lighter:  lighten($gray-darkest, 60%);
$gray-lightest: lighten($gray-darkest, 70%);

$thumbnail-bg: $gray;
$thumbnail-padding: 1px;
$thumbnail-border-radius: 3px;

$btn-default-color: $gray-lightest;
$btn-default-bg: $gray-dark;
$btn-default-border: $gray;
$btn-font-weight: 400;

$label-default-bg: $gray-dark;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$font-size-base: 16px;
$headings-font-weight: 600;
$tooltip-opacity: 1;
$input-bg: transparent;
$navbar-inverse-bg: $gray-darker;
$navbar-margin-bottom: 0;

$dropdown-bg: $gray-darker;
$dropdown-link-color: $gray-lightest;
$dropdown-link-hover-bg: $gray-darkest;
$dropdown-link-hover-color: #FFFFFF;
$dropdown-divider-bg: $gray-dark;

$grid-float-breakpoint: 0;

$tooltip-bg: $gray-darker;
$text-color: $gray-lighter;

@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "font-awesome";
@import "common";
